/* Linking to the Circularstd font hosted on GitHub */
@font-face {
    font-family: 'Circularstd';
    src: url('https://github.com/VapeQueen/careerspage/raw/main/circular-std-medium-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body, h1, h2, p, a {
    font-family: 'Circularstd', sans-serif; /* Applying the Circularstd font to all text elements */
    font-weight: bold;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff6b6b, #8093f1);
}

h1 {
    margin: .67em 0;
    font-size: 2em;
}

h2 {
    margin-top: 20px;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -.1875rem;
}

.h1.top {
    height: auto;
    margin-bottom: 1.6rem;
    font-size: 6rem;
}

.h2.top {
    height: auto;
    margin-bottom: .5rem;
    font-size: 4rem;
}
